.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    height: 90vh;
  }

  li:hover {
    cursor: pointer;
  }

  body{
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
  }
  
/* This is the file in branch styling-change. I add some changes below this sentence.
*/

  li:active{
    color: deepskyblue;
}
